#Heading {
  text-align: center;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.card {
  transition: transform 0.2s; /* Animation */
  text-align: center;
  margin: 5px;
  margin-top: 15px;
}

.card:hover {
  transform: scale(1.05);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

.nav-item {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  color: black;
  margin: 2% 10%;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
}

.carousel-item {
  padding: 0% 5%;
}

.carousel-control-prev {
  width: 25px;
}
.carousel-control-next {
  width: 25px;
}

.col-lg-4 {
  text-align: center;
}

.ClubImage {
  z-index: 100;
}

.Club {
  background-color: white;
}
